#logo {
    height:60px;
  }
#title {
  text-align: center;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #777;
  stroke-width: 3px;
}

.hover-line {
  stroke: #777;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.line {
  fill: none;
  stroke-width: 3px;
  stroke: grey;
}
